:root {
  /*background & foreground*/
  --bg: #080024;
  /* very dark blue/purple */
  --fg: #ffffff;
  /* putih */
  --navbar-bg: #0a0033;
  --navbar-fg: #00FFFF;
  /* cyan neon */
}

body {
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
}