:root {
  --bg: #1a1a1a;
  /* hitam */
  --fg: #ffffff;
  /* putih */
  --navbar-bg: #2c2c2c;
  /* abu gelap */
  --navbar-fg: #f4c430;
  /* gold */
  --navbar-fg-hover: #f4a230;
}

html,
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  border-bottom: 1px groove var(--navbar-fg);
}

.navbar-effect {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--navbar-bg);
  color: var(--navbar-fg);
}

.hover-change:hover {
  color: var(--navbar-fg-hover);
}

/* Navbar 3D Text Shadow */
.navbar-effect .nav-link:hover {
  transform: scale(1.05);
  color: var(--navbar-fg-hover);
  transition: all 0.1s ease-in-out;
}

.navbar-effect .nav-link:active {
  color: var(--navbar-fg);
  transform: scale(0.95);
  /* efek tekan ke dalam */
  transition: all 0.2s ease-in-out;
}

.navbar-toggler:active,
.navbar-effect .navbar-brand img:active {
  transform: scale(0.9);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

.navbar-effect .navbar-brand,
.navbar-effect .nav-link {
  font-weight: bold;
  border-radius: 5px;
  color: var(--navbar-fg);
}

.navbar-effect .navbar-brand img {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  margin-right: 8px;
}

.navbar-effect .navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--navbar-bg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.navbar-toggler,
.btn-close {
  width: 45px;
  /* ukuran konsisten */
  height: 40px;
  /* ukuran konsisten */
  padding: 0;
  /* buang padding bawaan */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.myself {
  opacity: 0;
  transform: translateY(30px);
  /* mulai agak turun */
  animation: fadeIn 3s ease-out forwards;
}

.desc-writerr {
  margin-bottom: 20px;
  /* kasih jarak bawah */
}

.contactMe {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 12px;
  background: var(--navbar-fg);
  color: white;
  border: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.contactMe:hover {
  background: var(--navbar-fg-hover);
  transform: scale(1.05);
}

.contactMe:active {
  transform: scale(0.95);
  /* sedikit mengecil saat diklik */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  /* efek tekan ke dalam */
  transition: all 0.2s ease-in-out;
}

/* bikin keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}